{# Slider #}

<section class="section module-slider text-{{ item.textColor }} bg-{{ item.bgColor }}">
 <div class="{{ item.container }}">
  <header class="section-slider-header">
    {{ item.title | markdownFilter | safe }}    
  </header>

  {# Navigation #}
  {% if item.showNavigation %}
    <div class="controls" id="customize-controls" aria-label="Carousel Navigation"
      tabindex="0">
      <div class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
        <div class="arrow-left"></div>
      </div>
      <div class="next" data-controls="next" aria-controls="customize" tabindex="-1">
        <div class="arrow-right"></div>
      </div>
    </div>
  {% endif %}

    <div class="slider-container">
      <div class="carousel slide" data-ride="carousel">
        <div class="slider-row">
          <div class="project-slider">
            {% if item.quotes %}
              {% include "partials/components/modules/sliderquotes.njk" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>