{# Hero Second #}

<header class="section module-herosecond {{ item.container }}" 
  style="background: url({{ item.background }}) center center;">
  {# style="background:linear-gradient(0deg, rgba(2,0,36, 0.6), rgba(21,28,32, 0.6)), url({{ item.background }}) center center;"> #}
		<div class="hero-wrapper row">
    		<article class="hero-inner">
				<div class="blurb">
        	<h1>{{ title | safe }}</h1>
				</div>
			</article>
		</div>
</header>